{{#>layout}}

<div class="blogs-container-form">
    <div class="blogs-form">
        <form action="/add-blog" method="post" enctype="multipart/form-data" class="form-input">
            <h1>Form Input</h1>

            <div class="form-control-input">
                <label for="title">Title</label>
                <div>
                    <input type="text" id="title" name="title" placeholder="Masukkan Judul Anda.">
                </div>
            </div>
            
            <div class="form-control-input">
                <label for="content">Content</label>
                <div>
                    <textarea name="content" id="content" placeholder="Masukkan Isi Content Anda" rows="4"></textarea>
                </div>
            </div>

            <div class="form-control-input">
                <label for="image">
                    Image
                </label>
                <div>
                    <input type="file" name="image" id="image"></input>
                </div>
            </div>
            
            <div class="form-btn">
                <button type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>
 <script src="/js/alert.js"></script>
        {{#if messages.error}}
            <script>
                alertError('{{messages.error}}')
            </script>
        {{/if}}
        {{#if messages.success}}
            <script>
                alertSuccess('{{messages.success}}')
            </script>
    {{/if}}

{{/layout}}