{{#>layout title='Contact'}}
<div class="bg-cat5">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="shadow-bg-form w-75">
            <h1 class="text-center">Contact Me</h1>
            <div class="d-flex p-2">
                <div class="w-50 shadow-bg p-2">
                    <h1 class="text-center">My Home</h1>
                    <iframe src="https://www.google.com/maps/embed?pb=!4v1736196621773!6m8!1m7!1suqceRMzIlvy-zU6-a-qMFQ!2m2!1d-6.101904007498609!2d106.1539791163893!3f308.8964852371453!4f-7.062471605762354!5f0.7820865974627469"  height="550" style="border-radius:10px; min-width:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="w-50 shadow-bg p-2">
                    <h1 class="text-center">Send Email</h1>
                    <form id="handleForm" class="py-4 px-2">
                         <div class="mb-2">
                            <label for="name" class="form-label fw-bold" style="margin-left: 10px;">Name</label>
                            <input type="text" name="name" value="{{data.title}}" class="shadow-input" id="name" required placeholder="Masukkan Nama...">
                        </div>
                        <div class="d-flex gap-2" >
                            <div class="mb-2 w-50">
                                <label for="email" class="form-label fw-bold" style="margin-left: 10px;">Email</label>
                                <input type="email" name="email" value="{{data.title}}" class="shadow-input" id="email" required placeholder="Masukkan Email...">
                            </div>
                            <div class="mb-2 w-50">
                                <label for="phone" class="form-label fw-bold" style="margin-left: 10px;">Phone</label>
                                <input type="number" name="number" value="{{data.title}}" class="shadow-input" id="phone" required placeholder="Masukkan No Hp...">
                            </div>
                        </div>
                        <div class="mb-2">
                            <label for="subject" class="form-label fw-bold" style="margin-left: 10px;">Subject</label>
                            <input type="text" name="subject" required value="{{data.title}}" class="shadow-input" id="subject" placeholder="Masukkan Subject...">
                        </div>
                        <div class="mb-2">
                            <label for="skill">Skill</label>
                            <select name="skill" class="shadow-input" id="skill">
                            <option value="Front-End Dev">Front-End</option>
                            <option value="Back-End Dev">Back-End</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="message">Your Message</label>
                            <textarea
                            name="message"
                            rows="5"
                            class="shadow-input"
                            id="message"
                            placeholder="message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/contact.js"></script>
<script src="/js/alert.js"></script>
{{/layout}}