{{#>layout}}

<div class="blogs-container-form">
    <div class="blogs-form">
        <form action="/edit-blog/{{data.id}}?_method=patch" method="post" enctype="multipart/form-data" class="form-input">
            <h1>Form Edit Blog</h1>

            <div class="form-control-input">
                <label for="title">Title</label>
                <div>
                    <input type="text" id="title" value="{{data.title}}" name="title" placeholder="Masukkan Judul Anda.">
                </div>
            </div>
            <div class="form-control-input">
                <label for="content">Content</label>
                <div>
                    <textarea name="content" id="content" placeholder="Masukkan Isi Content Anda" rows="4">{{data.content}}</textarea>
                </div>
            </div>

            <div class="form-control-input">
                <label for="image">
                    Image
                </label>
                <div>
                <img src="{{data.image}}" alt="" style="width: 10%; height:10%;border-radius:10px; margin: 10px">
                    <input type="file" name="image" id="image"></input>
                </div>
            </div>
            
            <div class="form-btn">
                <button type="submit">Edit</button>
            </div>

        </form>
    </div>
</div>

{{/layout}}