{{#>layout title = 'Login'}}
<script src="/js/passwordBtn.js"></script>
<body id="bg-change" class="bg-cat3">
      <div class="container mt-5">
        <div class="d-flex justify-content-center">
          <div class="p-4 m-5 shadow-bg animate-border" style="border-radius: 15px;">
            <h3>Form Login</h3>
            <form class="text-white" style="width: 100%;" method="post" action="/login">
                <div class="form-group">
                <label for="inlineFormInputGroupUsername2" style=" color:black">Email</label>
                    <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="email" name="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="email@example.com">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputPassword1" style=" color:black">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" style="width: 100%;" class="btn btn-primary">Submit</button>
                <div class="" style=" color:black">
                    <small>You Don't have Account?</small>
                    <a href="/register">Register</a>
                </div>
            </form>
                <div class="button-password">
                    <button id="btn-password" onclick="handleClick()" ><i class="fa-solid fa-eye"></i></button>
                </div>
            </div>
            </div>
        </div>
        <script src="/js/alert.js"></script>
        {{#if messages.error}}
            <script>
                alertError('{{messages.error}}')
            </script>
        {{/if}}

        {{#if messages.success}}
            <script>
                alertSuccess('{{messages.success}}')
            </script>
        {{/if}}
</body>

{{/layout}}